<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/listado" routerLinkActive="active">Listado</a></li>
    <li><a routerLink="/propiedades" routerLinkActive="active">Propiedades</a></li>
    <li><a routerLink="/eventos" routerLinkActive="active">Eventos</a></li>
    <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
    <li><a routerLink="/madre" routerLinkActive="active">Madre/Hija</a></li>
    <li><a routerLink="/subrutas" routerLinkActive="active">Subrutas</a></li>
    <li><a routerLink="/subrutas/listado" routerLinkActive="active">ListadoSubrutas</a></li>

  </ul>
</nav>
<div class="main_content">
  <span>{{title}} está en ejecución</span>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

