<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mi Sitio</a>
    <!-- Botón para dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de</a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="/signals" routerLinkActive="active">Signals</a>
            <a class="dropdown-item" routerLink="/listado" routerLinkActive="active">Listado</a>
            <a class="dropdown-item" routerLink="/propiedades" routerLinkActive="active">Propiedades</a>
            <a class="dropdown-item" routerLink="/directivas" routerLinkActive="active">Directivas</a>
            <a class="dropdown-item" routerLink="/pipes" routerLinkActive="active">Pipes</a>
            <a class="dropdown-item" routerLink="/services" routerLinkActive="active">Uso Service</a>
            <a class="dropdown-item" routerLink="/eventos" routerLinkActive="active">Eventos</a>
            <a class="dropdown-item" routerLink="/form" routerLinkActive="active">Form</a>
            <a class="dropdown-item" routerLink="/formreactivo" routerLinkActive="active">Form Reactivo</a>
            <a class="dropdown-item" routerLink="/madre" routerLinkActive="active">Madre/Hija</a>
            <a class="dropdown-item" routerLink="/subrutas" routerLinkActive="active">Subrutas</a>
            <a class="dropdown-item" routerLink="/subrutas/listado" routerLinkActive="active">ListadoSubrutas</a>
            <a class="dropdown-item" routerLink="/otrasrutas" routerLinkActive="active">Home Otras Rutas</a>
            <a class="dropdown-item" routerLink="/otrasrutas/about" routerLinkActive="active">About Otras Rutas</a>
            <a class="dropdown-item" routerLink="/listadodetalle" routerLinkActive="active">Listado a Detalle</a>
            <a class="dropdown-item" routerLink="/detalle/1" routerLinkActive="active">Detalle del listado</a>
            <a class="dropdown-item" routerLink="/modulo-lista-detalle" routerLinkActive="active">Modulo Lista Detalle</a>
            <a class="dropdown-item" routerLink="/modulo-lista-detalle/edit/0" routerLinkActive="active">Modulo Lista Detalle: Add</a>
            <a class="dropdown-item" routerLink="/bsmodal" routerLinkActive="active">Bootstrap Modal</a>
            <a class="dropdown-item" routerLink="/ejercicios" routerLinkActive="active">Ejercicios</a>

        </li>
      </ul>
    </div>
  </nav>
</div>
